@font-face{
    font-family: custom;
    src: url(./fonts/Prompt-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: custom, Georgia, 'Times New Roman', Times, serif;
}

:root{
    --dark-background: rgb(0, 11, 20);
    --light-background: rgb(0, 18, 32);
    --highlight-color: #187cc9;
    --light-blue: rgb(63, 207, 207);
    --shadow: 0px 0px 5px 3px var(--highlight-color);
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: var(--dark-background);
}

div#wrapper{
    height: 100%;
    width: min(100%, 1300px);
    display: grid;
    grid-template-columns: min(35%, 400px) calc(100% - min(35%, 400px));
    grid-template-rows: 15% 85%;
    border: solid 1px var(--highlight-color);
    box-shadow: var(--shadow);
}

div#header{
    grid-area: 1 / 1 / 2 / 3;
    background-color: var(--highlight-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

div#side-bar{
    grid-area: 2 / 1 / 3 / 2;
    background-color: var(--light-background);
    color: whitesmoke;
    display: flex;
    align-items: center;
}

form#project-form{
    width: 100%;
    padding: 10px;
}

form#project-form > fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

form#project-form > fieldset > legend{
    font-size: 32px;
}

div.form-input{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

textarea#description{
    /* -5px makes the right side of box line up correctly 
    not sure why this is*/

    width: calc(100% - 5px);
}

div#form-button-container{
    display: flex;
    justify-content: flex-end;
}

button.submit{
    height: 30px;
    width: 80px;
    background-color: var(--light-blue);
    border: var(--highlight-color) solid 1px;
    border-radius: 30px;
    box-shadow: var(--shadow);
}

div#content{
    grid-area: 2 / 2 / 3 / 3;
    background-color: var(--dark-background);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 300px;
    gap: 20px;
    overflow: scroll;
    scrollbar-width: none;
}

div.project{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    color: whitesmoke;
    background-color: var(--light-background);
    border: var(--highlight-color);
    box-shadow: var(--shadow);
    border-radius: 3px;
}

div.project.high{
    border: solid 2px crimson;
}

div.project.medium{
    border: solid 2px gold;
}

div.project.complete{
    border: solid 2px greenyellow;
}

div.project > h3.p-title{
    text-align: center;
    font-size: 22px;
}

div.form-edit {
    position: absolute;
    background-color: var(--dark-background);
    color: whitesmoke;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: solid 3px var(--highlight-color);
    box-shadow: var(--shadow);
    width: 500px;
    display: none;
}

form.project-edit > fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

form.project-edit > fieldset > legend {
    font-size: 32px;
    text-align: center;
}

button.delete{
    height: 30px;
    width: 80px;
    background-color: crimson;
    color: whitesmoke;
    border: crimson solid 2px;
    border-radius: 30px;
    box-shadow: var(--shadow);
}

div#edit-button-container{
    display: flex;
    justify-content: space-between;
}

div.project-view{
    position: absolute;
    background-color: var(--dark-background);
    color: whitesmoke;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 3px var(--highlight-color);
    box-shadow: var(--shadow);
    width: 400px;
    height: 600px;
    display: grid;
    grid-template-rows: 1fr 5fr;
    display: none;
}

div.project-view > .project-header{
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    background-color: var(--light-background);
    padding: 20px;
}

.project-header > h2.project-title{
    font-size: 25px;
}

.project-view > div.todo-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

div.tasks{
    display: grid;
    gap: 30px;
    overflow: scroll;
    height: 400px;
}

div.todo{
    display: flex;
    gap: 30px;
    background-color: var(--highlight-color);
    padding: 10px;
    border: dashed whitesmoke 1px;
    border-radius: 5px;
}

div.todo > p{
    width: 80%;
}